*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  color: #eeeeee;
}
.section-title {
  margin-bottom: 50px;
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
}

.greeting {
  font-family: "Ubuntu Mono", monospace;
}
.title {
  font-family: "Ubuntu", sans-serif;
}
.text {
  font-family: "Work Sans", sans-serif;
}
